* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 3px solid black; */
    font-family: 'Source Sans Pro', sans-serif;;
}

.mobile {
    display: none;
}

nav {
    position: fixed;
    width: 100vw;
    /* min-width: 400px; */
    display: flex;
    flex: wrap;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(157, 172, 127);
    color: rgb(241, 240, 205);
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li a {
    text-decoration: none;
    padding: 0 10px;
    color: rgb(241, 240, 205);
    font-weight: 600;
}

/* mainly everything above here is about the nav bar ^ */

.main-content {
    /* border: 25px solid black; */
    display: flex;
    height: 100vh;
    align-items: stretch;
    align-content: stretch;
}

.main-content .child {
    flex: 1;
    /* border: 15px solid red; */
}

/* this is to divide the screen ^ */

.one {
    background: rgb(217, 226, 200);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two div {
    padding: 0px 45px;
}



.image {
    /* border: 15px solid black; */
    background-image: url(images/pngfind.com-cherry-blossom-tree-png-134495.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    padding: 0px;
    max-height: auto;
    max-width: 700px;
    /* border: 5px solid black; */
}

button {
    margin-top: 50px;
}

@media only screen and (max-width: 600px){

    * {
        /* border: 1px solid black */
    }
    
    nav {
        flex-direction: column;
        /* padding: 0 10px; */
        width: 100%;
    }

    li a {
        padding-left: 0px;
        padding-right: 10px;
    }

    .main-content {
        flex-direction: column;
    }

    .main-content .child {
        min-height: 100%;
    }

    .two {
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px){
    .main-content .child {
        min-height: 80%;
    }

}